.contentContainer__left {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 65%;
}

.containerLeft__content{
    background-color: rgb(241, 213, 146);
    border-radius: 4pt;
    order: 2;
}


.containerLeft__navbar {
    display: flex;
    width: 100%;
    position: sticky;
    align-self: start;
    top: 0;
    background-color: rgb(94, 138, 214);
    
}

.containerLeft__title {
    background-color: rgb(241, 213, 146);
    position: sticky;
    align-self: start;
    top: 3.3em;
    /* margin: 0 */
}
.containerLeft__title > h3 {
    background-color: rgb(241, 213, 146);
    margin: 0;
}
.containerLeft__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.containerLeft__card {
    flex: 0 1 30%;
    border-radius: 4pt;
    margin: .7em 4em;
    font-size: 1.2em;
    padding: .5em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: whitesmoke;
}
