.containerRight__navbar {
    background-color:rgb(94,138,213);
    display: flex;
    justify-content: center;
}

.contentContainer__right {
    position: sticky;
    background-color: rgb(112,128,143);
    align-self: start;
    top: 0;
    flex: 0 1 30%;
    min-height: 100vh;
}


.note {
    background-color: rgb(255, 255, 255, .2);
    padding: 4px;
    margin: 1em 0;
}


.containerRight__button {
    height: 4em;
    width: 10em;
    border: none;
    margin: 0 .5em;

}