.contentContainer__right {
    position: sticky;
    background-color: red;
    align-self: start;
    top: 0;
    flex: 0 1 30%;
    border: 4px solid slategray;
    padding: .2em;
}

.noteListContainer {
    border: 4px dotted blue;
}

.note {
    border: 2px solid salmon;
    padding: 4px;
}
