h3 {
    text-align: center;
    font-size: 2em;
}
.criminalList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.criminal__card {
    flex: 0 1 20%;
    border: .01em solid black;
    margin: .7em 4em;
    font-size: 1.2em;
    padding: .5em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.criminal__name {
    font-size: 1.5em;
    margin: .2em 0 .5em 0;
}

.criminal__conviction {
    text-transform: capitalize;
}