@import './criminals.css';
@import './notes.css';
@import './header.css';
@import './alibi.css';

.contentContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contentContainer__left{
    flex: 0 1 65%;
    border: 4px dashed green;
}

.contentContainer__right{
    flex: 0 1 30%;
    border: 4px solid slategray;
    padding: .2em;
}
/* 
.noteFormContainer {
    flex: 0 1 100%
} */

h3 {
    text-align: center;
    font-size: 2em;
}