@import './criminals.css';
@import './containerRight.css';
@import './header.css';
@import './alibi.css';
@import './containerLeft.css';
@import './buttonBar.css';

body {
    margin: 0;
}

.contentContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h3 {
    text-align: center;
    font-size: 2em;
}